<?xml version="1.0" encoding="ISO-8859-1" ?>

<data>
	<delimiter>|</delimiter>
	<facebook-login>
		<username>kevinmspam@gmail.com</username>
		<password>wunderman1</password>
	</facebook-login>

	<fields>
		<field>
			<human-readable-name>ID</human-readable-name>
			<facebook-graph-name></facebook-graph-name>
		</field>
		<field>
			<human-readable-name>FBID</human-readable-name>
			<facebook-graph-name>id</facebook-graph-name>
		</field>
		<field>
			<human-readable-name>NAME</human-readable-name>
			<facebook-graph-name>name</facebook-graph-name>
		</field>
		<field>
			<human-readable-name>USERNAME</human-readable-name>
			<facebook-graph-name>username</facebook-graph-name>
		</field>
		<field>
			<human-readable-name>LINK</human-readable-name>
			<facebook-graph-name>link</facebook-graph-name>
		</field>
		<field>
			<human-readable-name>CATEGORY</human-readable-name>
			<facebook-graph-name>category</facebook-graph-name>
		</field>
		<field>
			<human-readable-name>LIKES</human-readable-name>
			<facebook-graph-name>likes</facebook-graph-name>
		</field>
		<field>
			<human-readable-name>CHECKINS</human-readable-name>
			<facebook-graph-name>checkins</facebook-graph-name>
		</field>
		<field>
			<human-readable-name>TALKING_ABOUT_COUNT</human-readable-name>
			<facebook-graph-name>talking_about_count</facebook-graph-name>
		</field>
		<field>
			<human-readable-name>FOUNDED</human-readable-name>
			<facebook-graph-name>founded</facebook-graph-name>
		</field>
		<field>
			<human-readable-name>PRODUCTS</human-readable-name>
			<facebook-graph-name>products</facebook-graph-name>
		</field>
		<field>
			<human-readable-name>COMPANY_OVERVIEW</human-readable-name>
			<facebook-graph-name>company_overview</facebook-graph-name>
		</field>
		<field>
			<human-readable-name>MISSION</human-readable-name>
			<facebook-graph-name>mission</facebook-graph-name>
		</field>
		<field>
			<human-readable-name>DESCRIPTION</human-readable-name>
			<facebook-graph-name>description</facebook-graph-name>
		</field>
	</fields>

	<token-refresher>
		<urls>
			<initial-url>https://www.facebook.com/dialog/oauth?client_id=230870845607&amp;redirect_uri=http%3A%2F%2Fwww.wunderman.com%2F</initial-url>
			<oauth-url>https://graph.facebook.com/oauth/access_token?client_id=230870845607&amp;redirect_uri=http%3A%2F%2Fwww.wunderman.com%2F&amp;client_secret=86fce275d90527200b3e7836392af793&amp;code=</oauth-url>
		</urls>
		<html-element-ids>
			<login-form>login_form</login-form>
			<login-form-email>email</login-form-email>
			<login-form-password>pass</login-form-password>
			<login-form-submit>u_0_1</login-form-submit>
		</html-element-ids>
		<parameters>
			<code>code</code>
			<access-token>access_token</access-token>
		</parameters>
	</token-refresher>
</data>